
h1 {
  font-size: 65px;
  color: orange;
}

h2 {
  color: green;
  font-size: 2em;
}

body {
  background-color: rgb(255, 400, 200);
  font-size: 20px;
}

p {
  font-family: monospace;
}

#extinct-specie {
  background-color: red;
}

#description {
  color: orange;
}

.list-style {
  background-color: blue;
  color: white;
  font-weight: bold;
  font-style: italic;
  line-height: 40px;
  text-align: center;
  text-decoration: underline;
}
