html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(255, 221, 231);
  margin: 20px 3%;
  font: 1.5em sans-serif;
}

.title{
  display: flex;
  justify-content: center;
  font-size: 1.1em;
  font-weight: 600;
}


aside h2 {
  font-size: 1.3em;
}

aside li {
  font-size: 1 em;
}

.aside-two h2 {
  text-align: center;
}

.main-content h1 {
  font-size: 1.6em;
  text-align: center;
}

footer {
  text-align: center;
}



@media screen and (min-width: 481px) {
  body {
    background-color: rgb(255, 251, 189);
    margin: 25px 4%;
    font: 1.5em sans-serif;
  }
}

@media screen and (min-width: 769px) {
  body {
    background-color: rgb(182, 235, 252);
    margin: 15px 5%;
    font: 1.6em sans-serif;
  }

  footer {
    font-size: 20px;
  }
}
